@import './main.css';

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 20em;
}

label {
    font-size: 18px;
    color: var(--colour-one);
    margin-left: -20px;
}

#input {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
}

p {
    color: var(--colour-two);
}

